{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h3>Мои отклики</h3>

 <div class="row">
     {% for response in responses %}
        <div class="col-md-6 offset md-3">

            <h5><a href="{% url 'response_detail' pk=response.pk %}"> Заказ: {{ response }}</a></h5>
                                                                       cообщение: {{ response.text }}
            <h6>Отправитель:{{ response.sender }}</h6>
            <a href="{% url 'executor_detail' response.sender.pk %}">посмотреть профиль отправителя</a>
            <br>
            <h6> Дата:{{ response.time }}</h6>
            <hr>

     {% endfor %}

            <hr>
            <form method="POST">
                {% csrf_token %}



            </form>
        </div>
    </div>
{% endblock content %}