{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load static %}

{% block content %}




    <div class="row">
        <div class="col-md-6 offset md-3">
            <h3 class="text-center">Наши Фрилансеры</h3>




            {% for executor in executors %}
            <div class="row" style="text-align: center;letter-spacing: 1px;">
                  {% thumbnail executor.photo "375x225" as im %}
                            <a href="{{ executor.photo.url }}">
                                <img src="{{ im.url }}" class="image-detail" style="border-radius: 10px;">
                    <h6><a href="{% url 'executor_detail' pk=executor.pk %}">{{ executor.user.first_name }} {{ executor.user.last_name }}</a>
                    </h6>
                                <h6> {{ executor.category }}</h6>
                  {% endthumbnail %}
            </div>

            {% endfor %}



            <form action="" method="GET">
                {% csrf_token %}


            </form>
        </div>
    </div>


{% endblock content %}
