{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}




    <div class="row">
        <div class="col-md-6 offset md-3">
            <h3 class="text-center">Наши Исполнители</h3>




            {% for executor in executors %}
            <div class="row">
                <h4><a href="{% url 'executor_detail' pk=executor.pk %}">{{ executor.user.first_name }} {{ executor.user.last_name }}</a>
                </h4>
            </div>

            {% endfor %}



            <form action="" method="GET">
                {% csrf_token %}


            </form>
        </div>
    </div>


{% endblock content %}
